<a href="https://colab.research.google.com/github/sarabian/solucoespraticas/blob/main/calculoFinanceiroeMega.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from random import randint
lista=list()
cont=0
while True:
  num= randint(1,60)
  if num not in lista:
    lista.append(num)
    cont+=1
  if cont >= 6:
    break
lista.sort()
print(f'os numeros sorteados pra mega sena da bia foi :{lista}')

os numeros sorteados pra mega sena da bia foi :[2, 7, 25, 48, 57, 58]

In [11]:
from random import randint
lista=list()
cont=0
while True:
  num= randint(1,60)
  if num not in lista:
    lista.append(num)
    cont+=1
  if cont >= 6:
    break
lista.sort()
print(f'os numeros sorteados pra mega sena do li foi :{lista}')

os numeros sorteados pra mega sena do li foi :[1, 3, 6, 39, 50, 51]

In [12]:
capital=float(input('Deposito inicial:'))
taxajuros=float(input('Taxa:'))
totaljuros=0
meses=0
while meses < 60:
  juros = capital*taxajuros/100
  totaljuros += juros
  capital += juros
  
  meses += 1
  print(f'o valor poupado no {meses:2}° mes é de R$ {capital:.2f}.')
print(f'{totaljuros:.2f}')
print(totaljuros/capital)

Deposito inicial:10000
Taxa:1
o valor poupado no  1° mes é de R$ 10100.00.
o valor poupado no  2° mes é de R$ 10201.00.
o valor poupado no  3° mes é de R$ 10303.01.
o valor poupado no  4° mes é de R$ 10406.04.
o valor poupado no  5° mes é de R$ 10510.10.
o valor poupado no  6° mes é de R$ 10615.20.
o valor poupado no  7° mes é de R$ 10721.35.
o valor poupado no  8° mes é de R$ 10828.57.
o valor poupado no  9° mes é de R$ 10936.85.
o valor poupado no 10° mes é de R$ 11046.22.
o valor poupado no 11° mes é de R$ 11156.68.
o valor poupado no 12° mes é de R$ 11268.25.
o valor poupado no 13° mes é de R$ 11380.93.
o valor poupado no 14° mes é de R$ 11494.74.
o valor poupado no 15° mes é de R$ 11609.69.
o valor poupado no 16° mes é de R$ 11725.79.
o valor poupado no 17° mes é de R$ 11843.04.
o valor poupado no 18° mes é de R$ 11961.47.
o valor poupado no 19° mes é de R$ 12081.09.
o valor poupado no 20° mes é de R$ 12201.90.
o valor poupado no 21° mes é de R$ 12323.92.
o valor poupado no 22° mes é de R$ 12447.16.
o valor poupado no 23° mes é de R$ 12571.63.
o valor poupado no 24° mes é de R$ 12697.35.
o valor poupado no 25° mes é de R$ 12824.32.
o valor poupado no 26° mes é de R$ 12952.56.
o valor poupado no 27° mes é de R$ 13082.09.
o valor poupado no 28° mes é de R$ 13212.91.
o valor poupado no 29° mes é de R$ 13345.04.
o valor poupado no 30° mes é de R$ 13478.49.
o valor poupado no 31° mes é de R$ 13613.27.
o valor poupado no 32° mes é de R$ 13749.41.
o valor poupado no 33° mes é de R$ 13886.90.
o valor poupado no 34° mes é de R$ 14025.77.
o valor poupado no 35° mes é de R$ 14166.03.
o valor poupado no 36° mes é de R$ 14307.69.
o valor poupado no 37° mes é de R$ 14450.76.
o valor poupado no 38° mes é de R$ 14595.27.
o valor poupado no 39° mes é de R$ 14741.23.
o valor poupado no 40° mes é de R$ 14888.64.
o valor poupado no 41° mes é de R$ 15037.52.
o valor poupado no 42° mes é de R$ 15187.90.
o valor poupado no 43° mes é de R$ 15339.78.
o valor poupado no 44° mes é de R$ 15493.18.
o valor poupado no 45° mes é de R$ 15648.11.
o valor poupado no 46° mes é de R$ 15804.59.
o valor poupado no 47° mes é de R$ 15962.63.
o valor poupado no 48° mes é de R$ 16122.26.
o valor poupado no 49° mes é de R$ 16283.48.
o valor poupado no 50° mes é de R$ 16446.32.
o valor poupado no 51° mes é de R$ 16610.78.
o valor poupado no 52° mes é de R$ 16776.89.
o valor poupado no 53° mes é de R$ 16944.66.
o valor poupado no 54° mes é de R$ 17114.10.
o valor poupado no 55° mes é de R$ 17285.25.
o valor poupado no 56° mes é de R$ 17458.10.
o valor poupado no 57° mes é de R$ 17632.68.
o valor poupado no 58° mes é de R$ 17809.01.
o valor poupado no 59° mes é de R$ 17987.10.
o valor poupado no 60° mes é de R$ 18166.97.
8166.97
0.44955038406224024